* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#nfa {
  display: block;
  width: 100%;
  height: 100%;
}

.labels {
  position: absolute;
}

.labels p {
  font: normal 10px "Consolas";
  color: #333333;
  position: absolute;
  -webkit-transform: translate(-55%, -55%);
}

svg {
  display: block;
}

circle {
  stroke: #333333;
  stroke-width: 2px;
  fill: #ffffff;
}

circle.final {
  stroke-width: 4px;
}

path {
  stroke: #333333;
  stroke-width: 1px;
  fill: none;
}